@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --color-1:rgb(218,165,32);
    --color-1-2:rgb(255, 199, 59);
    --color-2:rgb(2,5,42);
    --color-3:#fff;
    --color-3-70:rgba(255,255,255,0.7);
    --color-3-10:rgba(255,255,255,0.1);
    --color-4: rgb(13,35,102);
    --color-4-10: rgba(13,35,102,0.1);
    --color-5:rgb(0,0,0);
    --color-5-50:rgba(0,0,0,0.5);
    --color-5-10:rgba(0,0,0,0.1);
    --color-6:rgb(25,29,46);
    --color-7: rgb(244,248,255);
}

body{
    color:var(--color-3);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12%;
    background-color: var(--color-2);
}

header ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 35px 0px;
}

header ul li img{
    height: 30px;
}

.section{
    width: 100%;
}

#section-1 {
    background-color: var(--color-2);
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    background-image: url("https://razorpay.com/assets/home/illustration-desktop.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 600px;
    padding: 0px 12%
}

#section-1 div:nth-child(1){
    width: 45%;
}

#section-1 div:nth-child(1) h1{
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 50px 0px;
    font-weight: bold;
}

#section-1 div:nth-child(1) p{
    font-size: 18px;
    margin: 20px 0px;
    color: var(--color-3-70);
}

#section-1 div:nth-child(1) button{
    padding: 10px 18px;
    font-size: 16px;
    background-color: var(--color-1);
    color:var(--color-2);
}

.modern-button{
    font-family: "Poppins";
    outline: none;
    border-radius: 2px;
    border: none;
}

#section-2{
    min-height: 100vh;
    color:var(--color-4);
    padding: 0px 12%;
}

#section-2 h2{
    font-weight: 700;
}

#section-2 div:nth-child(1){
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section-2 div:nth-child(2){
    border: 1px solid var(--color-4-10);
    padding-left: 30px;
    width: 100%;
    border-radius: 20px;
    background: url("https://razorpay.com/assets/home/pg-graphic.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 400px;
}

#section-2 div:nth-child(2) div:nth-child(1){
    align-items: unset;
    width: 50%;
}

#section-2 div:nth-child(2) div:nth-child(1) h3{
    font-size: 28px;
    font-weight: 500;
}

#section-2 div:nth-child(2) div:nth-child(1) ul{
    list-style-type: none;
    margin: 30px 0px;
}
#section-2 div:nth-child(2) div:nth-child(1) ul li:before {
    content: '✓';
    color: yellowgreen;
    font-weight: bold;
    margin-right: 30px;
    font-size: 16px;
  }

.color-1{
    color:var(--color-1);
}

#section-2 div:nth-child(2) div:nth-child(1) button{
    padding: 10px 18px;
    font-size: 16px;
    background-color: var(--color-1);
    color:var(--color-2);
}

#section-3{
    padding: 0px 12%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 100px 0;
}

#section-3 div{
    padding:20px;
    padding-left:30px;
    height: 200px;
    background: white;
    position: relative;
    border-radius: 8px;
    border: 0.1px solid var(--color-4-10);
    border-top-right-radius: 80px;
    transition: 0.5s ease;
    z-index: 100;
    color:var(--color-5);
}

#section-3 div:hover{
    /* filter: drop-shadow(0px 0px 10px var(--color-5-10)); */
    box-shadow: 0px 0px 20px 1px var(--color-5-10);
    border: none;
}

#section-3 div div{
    padding: 0;
    background: var(--color-1);
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    right: -16px;
    top:-16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -56 !important;
}

#section-3 div div img{
    width:80%;
    height: 80%;
}

#section-3 div p{
    margin-top: 20px;
    font-weight: 400;
}

#section-3 div a{
    color:var(--color-1);
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600;
}

#section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 12%;
    background: var(--color-6);
    color:var(--color-3);
}

#section-4-div-1{
    width: 100%;
    padding: 50px;
    border: 1px solid var(--color-3-10);
    padding-left: 30px;
    width: 100%;
    border-radius: 20px;
    background: url("https://razorpay.com/assets/home/pg-graphic.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 400px;
}

#section-4 h2{
    margin-bottom: 50px;
}

#section-4-div-1 div{
    width: 50%;
}

#section-4-div-1 div img{
    display: inline-block;
    height: 20px;
}

#section-4-div-1 div ul{
    list-style-type: none;
    margin-top: 50px;
}

#section-4-div-1 div ul li::before{
    content: '✓';
    color: yellowgreen;
    font-weight: bold;
    margin-right: 30px;
    font-size: 16px;
}

#section-4-div-1-div-1{
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    margin-top: 30px;

}

#section-4-div-1-div-1 button{
    padding: 10px 30px;
    font-size: 16px;
    background-color: var(--color-1);
    color:var(--color-2);
    word-spacing: 5px;
}

#section-4-div-1-div-1 a{
    padding: 10px 30px;
    font-size: 16px;
    color:var(--color-3);
    word-spacing: 5px;
    text-decoration: none;
}

#section-4-div-2{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 50px 0;
    margin-bottom: 0;
}

#section-4-div-2 div{
    padding:20px;
    padding-left:30px;
    height: 200px;
    position: relative;
    border-radius: 8px;
    border: 0.1px solid var(--color-3-10);
    border-top-right-radius: 80px;
    transition: 0.5s ease;
    z-index: 100;
    color:var(--color-3);
}

#section-4-div-2 div div{
    padding: 0;
    background: var(--color-1);
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    right: -16px;
    top:-16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -56 !important;
}

#section-4-div-2 div a{
    color:var(--color-1);
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600;
}

#section-4-div-2 div div img{
    width:80%;
    height: 80%;
}

#section-4-div-2 p{
    margin-top: 20px;
    font-weight: 400;
}

#section-4-div-2 a{
    color:var(--color-1);
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600;
}

#section-4-div-2 div:hover{
    box-shadow: 0px 0px 20px 1px var(--color-5-50);
    border:none;
}

#section-5{
    padding: 100px 12%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    row-gap: 50px;
    color: var(--color-4);
}

#section-5 div{
    padding: 50px 30px 30px 40px;
    box-shadow: 0px 0px 20px 1px var(--color-5-10);
}

#section-5 div div{
    padding: 0;
    border-radius: 100px;
    background: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

#section-5 div h3{
    margin-top: 20px;
}

#section-5 div:nth-child(1){
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section-5 div:nth-child(1) h1{
    font-size: 33px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#section-5 div p{
    margin-top: 30px;
    margin-bottom: 10px;
}

#section-5 div a{
    color:var(--color-1);
    font-weight: 700;
    text-decoration: none;
}

#section-6{
    background: var(--color-1);
    padding: 100px 12%;
    color: var(--color-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#section-6 h2{
    margin-bottom: 30px;
}

#section-6-div-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
}

#section-6-div-2{
    width: 100%;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 5%;
    row-gap: 60px;
}

#section-6-div-2 div{
    text-align: unset;
    font-size: 15px;
}

#section-6-div-2 div img{
    width: 48px;
    height: 48px;
    margin: 10px 0px;
}

#section-6-div-2 div p{
    margin-top: 15px;
}

#section-7{
    /* display: flex;
    flex-direction: row; */
    padding: 100px 12%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    color: var(--color-5);
    overflow: hidden;
    background: var(--color-7);
}

#section-7 div:nth-child(1) p{
    margin-top: 30px;
}

#section-7 div:nth-child(2){
    /* background-image: url("https://razorpay.com/assets/home/merchants.png"); */
    background: linear-gradient(to bottom, var(--color-7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--color-7)), url('https://razorpay.com/assets/home/merchants.png');    background-size: 100%;
    animation-name: clients;
    animation-iteration-count: infinite;
    animation-duration: 50s;
    transition: ease;
}

@keyframes clients {
    0%{
        background-position: 0 0%;
    }
    100%{
        background-position: 0 100%;
    }
}

#section-8{
    padding: 100px 12%;
    color: var(--color-3);
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, var(--color-1), var(--color-1-2));
}

#section-8 p{
    width: 45%;
    margin: 50px  0px 20px 0px;
}

#section-8 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

#section-8 ul li{
    margin-right: 50px;
}

#section-8 ul li:before {
    content: '✓';
    color:white;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

#section-8 button{
    margin-top: 20px;
    width: fit-content;
    padding: 10px 20px;
    background: var(--color-3);
}

footer{
    padding: 30px 12%;
    display: grid;
    grid-template-columns: 30% 18% 18% 18%;
    column-gap: 5.33333333333%;
    font-size: 15px;
}

footer div:nth-child(1) p{
    color: var(--color-5-50);
}

footer div ul{
    font-size: 14px;
    list-style: none;
    margin-bottom: 50px;
}

footer div ul li h3{
    color:var(--color-1);
    margin-top: 0;
}

footer ul li{
    margin: 5px 0;
    color: var(--color-5-50);
}

#socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

#socials img{
    margin-right: 10px;
}