@media(max-width:425px){

    header{
        padding: 0px 5% ;
    }

    header ul{
        margin:20px 0px;
    }

    header ul li a {
        display: none;
    }

    header ul li img {
       width: 60%;
       height: auto;
    }

    #section-1 {
        min-height: 90vh;
        height: auto;
        background-image: url("https://razorpay.com/assets/home/illustration-desktop.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0px 440px;
        padding: 0px 8%;
        padding-bottom:350px;
    }

    #section-1 div:nth-child(1){
        width: 100%;
    }

    #section-1 div:nth-child(1) h1{
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 2px;
        margin: 50px 0px;
        font-weight: bold;
    }

    #section-1 div:nth-child(1) p{
        font-size: 16px;
        margin: 20px 0px;
    }

    #section-2{
        display: none;
    }
}